#src to dst
nasip=[nasip]
#file
from=/root/github/HA/NAS/misc/Cmd/Exec/Service/vpn.py
to=/usr/local/NAS/misc/Cmd/Exec/Service/vpn.py
#file
from=/root/github/HA/NAS/misc/HAAgent/Config/VPNConfig.xml
to=/usr/local/NAS/misc/HAAgent/Config/VPNConfig.xml
#file
from=/root/github/HA/NAS/misc/HAAgent/Lib/Service/restoreVpn.py
to=/usr/local/NAS/misc/HAAgent/Lib/Service/restoreVpn.py
#file
from=/root/github/HA/NAS/misc/agent/python/vpnmodule/callfail2ban.py
to=/usr/local/NAS/misc/agent/python/vpnmodule/callfail2ban.py
#file
from=/root/github/HA/NAS/misc/agent/python/vpnmodule/lib/vpnL2tp.py
to=/usr/local/NAS/misc/agent/python/vpnmodule/lib/vpnL2tp.py
#file
from=/root/github/HA/NAS/misc/agent/python/vpnmodule/record_conn.py
to=/usr/local/NAS/misc/agent/python/vpnmodule/record_conn.py
#file
from=/root/github/HA/NAS/misc/agent/python/vpnmodule/vpnserver.py
to=/usr/local/NAS/misc/agent/python/vpnmodule/vpnserver.py
#file
from=/root/github/HA/NAS/misc/HAAgent/Lib/Service/restoreAuthService.py
to=/usr/local/NAS/misc/HAAgent/Lib/Service/restoreAuthService.py
