#src to dst
nasip=[nasip]
from=/root/github/HA/NAS/misc/HAAgent/Lib/Service/rsyncdOperation.py
to=/usr/local/NAS/misc/HAAgent/Lib/Service/rsyncdOperation.py
from=/root/github/HA/NAS/misc/agent/python/backup/rsync_fail2ban.py
to=/usr/local/NAS/misc/agent/python/backup/rsync_fail2ban.py
from=/root/github/HA/NAS/misc/SystemFiles/etc/fail2ban/jail.conf
to=/etc/fail2ban/jail.conf
from=/usr/bin/rsync
to=/usr/bin/rsync

