#src to dst
nasip=[nasip]
#file
from=/root/github/HA.master/NAS/misc/Cmd/Exec/Backup/scheduleRR.py
to=/usr/local/NAS/misc/Cmd/Exec/Backup/scheduleRR.py
#file
from=/root/github/HA.master/NAS/misc/Cmd/Exec/Backup/schedule.py
to=/usr/local/NAS/misc/Cmd/Exec/Backup/schedule.py
#file
from=/root/github/HA.master/NAS/misc/agent/python/backup/iftcron.py
to=/usr/local/NAS/misc/agent/python/backup/iftcron.py
