#src to dst
nasip=[nasip]
#file
from=/root/github/HA/NAS/misc/Cmd/NASCmd.py
to=/usr/local/NAS/misc/NAS/misc/Cmd/NASCmd.py
#file
from=/root/github/HA/NAS/misc/Cmd/CmdModule.py
to=/usr/local/NAS/misc/NAS/misc/Cmd/CmdModule.py
#file
from=/root/github/HA/NAS/misc/Cmd/nascmd_client.py
to=/usr/local/NAS/misc/NAS/misc/Cmd/nascmd_client.py
